@import "variables";
/*Styles de mobile*/

   /*Seccion inicio*/

    /*Seccion Nuevos*/

    /*Seccion catalogo*/

    /*Seccion contactanos*/




    /*Seccion footer*/

// @media only screen and(min-width:768px) {
//     .button__container {
//         display: inline-block; 

//     }
    /*Styles de desktop*/
   /*Seccion inicio*/

    /*Seccion Nuevos*/

    /*Seccion catalogo*/

    /*Seccion contactanos*/

    /*seccion botones*/

// }
    .div__container--buttons {
        background: url(imagenes/Rectangle\ 9.png);
        opacity: 1;
        
    }

    .container__button {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;        
    }

    .text__title--center {                 
        height: 62px;
        color: black;
        font-family: 'Abril Fatface';
        font-style: normal;
        font-size: 32px;
        line-height: 43px;

        text-align: center;
        letter-spacing: 0.05em;

        
    }

    .button__container {
        width: 328.32px;
        height: 103.21px;
        border-radius: 55px;
        margin: 20px;
        background-color: black;
        font-family: ipografia-parrafos;
        
        
    }

    @media only screen and (min-width:992px) {
        .button__container {
            display: inline-block; 
            
        }    
    }

    .image__circle--logo { 
        display: flex;      
        padding: 5px;      
        .text__item-petrof {  
            display: inline-block;           
            color: white;
            padding: 20px;
            text-align: center;
            margin-left: 90px; 
                     
        }
    }

    .image__circle--logo1 { 
        display: flex;       
        padding: 5px;      
        .text__item-parispian { 
            display: inline-block;             
            color: white;
            padding: 20px;
            text-align: center;
            margin-left: 90px;
        }
    }

    .image__circle--logo2 {   
        display: flex;     
        padding: 5px;   
        flex-direction: row-reverse;   
        .text__item-helfilti {
            display: inline-block;             
            color: white;
            padding: 20px;
            text-align: center;
            margin-right: 90px;
        }
    }

    .image__circle--logo3 { 
        display: flex;        
        padding: 5px;   
        flex-direction: row-reverse;   
        .text__item-bookpa { 
            display: inline-block;            
            color: white;
            padding: 20px;
            text-align: center;
            margin-right: 90px;
        }
    }

    .image__circle--logo4 {  
        display: flex;      
        padding: 5px; 
        flex-direction: row-reverse; 
        justify-content: space-evenly;   
        .text__item-yamaha { 
            display: inline-block;            
            color: white;
            padding: 20px;
            text-align: center;
            margin-left: 90px;
        }
    }

    .image__circle--logo5 {   
        display: flex;     
        padding: 5px;      
        .text__item-pianotwo { 
            display: inline-block;           
            color: white;
            padding: 20px;
            text-align: center;
            margin-left: 90px;
        }
    }

    .image__circle--logo6 { 
        display: flex;       
        padding: 5px;      
        .text__item-pianafmar { 
            display: inline-block;          
            color: white;
            padding: 20px;
            text-align: center;
            margin-left: 90px;
        }
    }

    // @media only screen and(min-width:400px) {
    //  .div__button--petrof {
    //     display: none;
    //  }






    






    

        
        

     
    
    
  
    /*Seccion footer*/
// }
