/*Colocar Varibles a utilizar como fuente general,
colores, estilos en comun etc.*/

    /*Seccion inicio*/

    /*Seccion Nuevos*/

    /*Seccion catalogo*/
    $background-color: #F5F5F5;
    $color-primario-black: #000000;
    $color-primario-white: #ffffff;
    
    $tipografia-titles:'Abril Fatface';
    $tipografia-parrafos:'Raleway';
    /*Seccion contactanos*/

    /*Seccion footer*/