/*Colocar Varibles a utilizar como fuente general,
colores, estilos en comun etc.*/
$background-color: #F5F5F5;
$color-primario-black: #000000;
$color-primario-white: #ffffff;
$tipografia-titles:'Abril Fatface';
$tipografia-parrafos:'Raleway', sans-serif;

/*Seccion inicio*/

    /*Seccion Nuevos*/

    /*Seccion catalogo*/

    /*Seccion contactanos*/

    /*Seccion footer*/